# Copy this to .env and fill in your values before running docker compose up

# Database
DB_ROOT_PASSWORD=
DB_PASSWORD=

# Nextcloud
NC_ADMIN_USER=
NC_ADMIN_PASSWORD=

# Your VPS public IP 
SERVER_IP=YOUR_SERVER_IP_HERE
DOMAIN_TOKEN=YOUR_TOKEN_HERE

# Slack
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/##############################
